.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

.form-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
  background-color: #7e858e;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.login-button {
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.login-website-logo-desktop-image {
  width: 60%;
  height: 25%;
}
